html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1300px;
  margin: auto;
}

body {
  font-family: sans-serif;
}

/* Styling for top search bar and nav menus*/
a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 10px 0px;
  color: rgb(225, 109, 55);
  font-size: 3em;
  font-weight: normal;
  font-family: Times New Roman;
}

#searchMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  border-radius: 25px;
  background-color: rgb(239, 239, 239);
  height: 50px;
  flex-grow: 2;
  border: 1px solid rgb(190, 190, 190);
  margin: 15px 30px;
  display: flex;
}

.search:hover {
  border: 1px solid black;
  transition: 0.5s;
}

input {
  font-size: 17px;
  padding-left: 15px;
  background-color: transparent;
  border-color: transparent;
  margin: 9px;
  flex-grow: 2;
}

input:focus {
  outline: none;
}

.searchX {
  background-color: transparent;
  width: 16px;
  height: 16px;
}

#iconAlso {
  padding: 15px;
  margin-right: 8px;
}

.spyGlass {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-color: transparent;
  margin: 0px 20px 0px 0px;
  padding: 0px;
}

#squareLeft {
  border-radius: 0px 25px 25px 0px;
}

button img.searchX:hover,
button img.Spyglass:hover {
  background-color: rgb(225, 225, 225);
  transition: 0.25s;
}

.signIn {
  font-size: 18px;
}

.cart {
  height: 32px;
  width: 32px;
}

.icon {
  border: 0;
  background: transparent;
  border-radius: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon:hover {
  background-color: rgb(225, 225, 225);
  transition: 0.25s;
}

.icon:focus {
  outline: none;
}

/* for nav menu*/
.navList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 30px;
  margin: 15px 0px;
}

ul.navList li {
  color: rgb(125, 125, 125);
}

ul.navList,
ul.storeOptions {
  list-style-type: none;
  padding: 15px 0px;
}

li.navList,
li.storeOptions {
  list-style-type: none;
}

.navImage {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navImage img {
  width: 22px;
  height: 22px;
}

.underline {
  border-bottom: 2px solid rgb(194, 194, 194);
  width: 100%;
}
/* Styling for Store options */

.storeOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

ul.storeOptions li {
  background-color: rgb(238, 164, 127);
  border-radius: 25px;
  padding: 7px;
}

.storeOptions li:hover {
  background-color: rgb(237, 142, 95);
  padding: 9px;
}

/* Sidebar styling */
main {
  display: flex;
}

.sidebar {
  width: 200px;
}

span {
  font-size: 25px;
}

.show {
  font-size: 16px;
  padding-left: 8px;
}

.categories {
  margin: 25px 0px;
  font-size: 12px;
  font-weight: 750;
}

.noPad {
  margin: 0px;
}

p {
  padding-left: 10px;
  margin: 0;
}

ul.sidebar {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

.sidebar li {
  list-style-type: none;
}

.list {
  padding: 0px;
  line-height: 22px;
  font-size: 12px;
}

ul.list li input {
  margin: 0px 5px 0px 0px;
  color: darkgray;
}

.list2 {
  padding-left: 35px;
}

ul.list li {
  font-weight: normal;
}

.anchorHover {
  color: rgb(40, 40, 40);
}

.anchorHover:hover {
  text-decoration: underline;
  color: lightgrey;
}

.range {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#rangeBox {
  width: 30px;
}
#rangeBox2 {
  width: 45px;
}
input#rangeBox,
input#rangeBox2 {
  border-radius: 6px;
  height: 35px;
  background-color: transparent;
  border: 1px solid rgb(222, 222, 222);
  font-size: 12px;
}

#rangeBox:hover,
#rangeBox2:hover {
  border: 1px solid black;
}

select {
  height: 40px;
  width: 175px;
  font-size: 12px;
}

select:focus {
  outline: none;
}

/* Styling for prouduct display */

.wrapper {
  flex-grow: 2;
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.productDisplay {
  display: grid;
  position: relative;
}

.displayInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.arrow {
  font-size: 11px;
  font-weight: bold;
  margin: 0px 10px 10px 8px;
}

.moveLeft {
  margin-right: 8px;
  font-size: 15px;
}

.downArrow {
  width: 15px;
  height: 15px;
  padding: 0px 15px 15px 0px;
}

.productImage {
  justify-self: center;
  height: 250px;
  width: 250px;
  border-radius: 3px;
}

.productDisplay::after {
  content: url(assets/heart.png);
  position: absolute;
  top: 9px;
  right: 20px;
  z-index: -1;
}

.productImage:hover {
  z-index: -2;
  box-shadow: 0px 0px 0px 1px #ddd;
}

.productDisplay .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 250px;
  color: rgb(99, 99, 99);
}

.productDisplay .shopName {
  color: rgb(162, 162, 162);
  font-size: 13px;
}

.productDisplay p {
  line-height: 12px;
  padding: 8px 8px;
}

.productDisplay .price {
  font-weight: bold;
  font-size: 20px;
}
